# Backend
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

#Frontend
VITE_API=localhost:8000

# Database Stuff
POSTGRES_USER=app-user
POSTGRES_PASSWORD=your-password
POSTGRES_DB=xplorer
POSTGRES_HOST=db # `db` for docker. `localhost` for local.
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379 # `redis://redis...` for docker. `redis://localhost...` for local