/* Utility classes */
.txt {
    color: var(--text-primary);
}
.txt-accent {
    color: var(--primary);
}
.txt-accent-muted {
    color: var(--primary-light);
}
.input {
    height: 30px;
    border-radius: var(--border-radius-lg);
    border: 2px solid var(--border-light);
    padding: 5px 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-primary);
    border-radius: var(--border-radius-lg);
    transition: all 250ms ease;
}

.btn-mini {
    width: 2.25rem;
    height: 2.25rem;
    padding: 5px;
    border-radius: 50%;
}
.btn-big { min-width: 100px; }
.btn-main {
    height: 50px;
    min-width: 150px;
    background-color: var(--primary);
    color: var(--text-primary);
}
.btn-main:hover {
    background-color: var(--primary-hover);
    scale: 0.95;
}
.btn-secondary { background-color: inherit; }

.btn-icon {
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;


    color: var(--text-primary);
    background-color: inherit;
    transition: all 0.3s ease;
}
.container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-icon:hover {
    scale: 1.05;
    color: white;
    background-color: var(--primary);
}

.dialog {
    width: 300px;
    height: 300px;
    background-color: var(--bg-secondary);
    border: var(--border-light);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu {
    position: fixed;
    top: 70px;
    right: 30px;
    width: 250px;
    min-height: 100px;
    padding: 15px;
    z-index: 100;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(5px);
    background-color: var(--bgt-primary);
    border: var(--border-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-lg);
    transition: all 0.1s ease-in-out;
}
.menu:hover {
    border: 2px solid var(--focus-ring);
}
.menu-section {
    width: 230px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: var(--border-radius-lg);
}
.menu-section .btn {
    background-color: var(--bg-primary);
    transition: all 0.3s ease;
}
.menu-section .btn:hover {
    background-color: var(--primary-light);
}