#home-page {
    min-height: 100vh;
    width: 100vw;
    gap: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--base), var(--secondary-7));
}
#home-page h2 { transition: all 500ms ease; }
#home-page h2:hover { color: var(--secondary-3);}
#discover {
    width: min(70vw, 500px);
    height: 250px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px 0px 0px;
    background: linear-gradient(var(--primary-6), var(--secondary-6));
    border-radius: var(--border-radius-lg);
    transition: all 0.3s ease;
}

#discover .btn {
    width: 200px;
    height: 75px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all 0.3s ease;
}

#discover .icon {
    font-size: 24px;
}

#discover .btn-main {
    scale: 1.75;
    background-color: var(--primary-5);
}

#discover .btn:hover {
    background-color: var(--primary-4);
    color: var(--text-inverse);
    transform: translateY(-3px);
    box-shadow: 2px 2px 5px var(--secondary-2);
}
#discover:hover {
    transform: translateY(-5px);
    scale: 1.01;
    box-shadow: 2px 2px 10px 2px var(--secondary-2);
}