#profile-mini {
    min-width: 450px;
    height: 143px;
    position: absolute;
    top: 10px;
    left: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-radius-lg);
}
#profile-mini .container-h { gap: 5px; }
#profile-mini .container-v { gap: 5px;}

#profile-header {
    width: 420px;
    min-height: 80px;
    padding: 15px;
    z-index: 202;
    
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--primary-5);
    border-radius: var(--border-radius-lg);
    border-top-left-radius: 0;
    transition: all 200ms ease;
}

#profile-header .pfp { width: 100px; height: 100px; }

#profile-header .header-section {
    min-width: 100px;
    height: 65px;
    align-items: start;
}
#profile-header .header-section .txt-span {
    padding: 5px;
    font-size: 1.1rem;
    font-weight: normal;
}


#profile-body {
    flex: 0.5;
    width: 400px;
    min-height: 40px;
    z-index: 201;
    position: relative;
    font-weight: normal;
    top: -28px;
    padding: 10px;
    border-radius:  0 0 var(--border-radius-lg) var(--border-radius-lg);
    background: linear-gradient(var(--primary-7), var(--primary-6));
    transition: all 150ms ease;
}

#profile-mini:hover #profile-header {
    transform-origin: top center;
    transform: perspective(1200px) rotateX(10deg) translateY(0px) scale(1.03);
    transform-style: preserve-3d;
    box-shadow: 0 24px 60px rgba(0, 0, 0, 0.24);
}
#profile-mini:hover #profile-body { top: -2px; }