#chat-page {
    width: 100vw;
    justify-content: space-around;
    background-image: url("/chat-bg-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Chat Sidebar style is defined in `./components/chat-sidebar.css` */

/* Chat UI styles */
#chat-ui {
    flex: 1;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}


/* header style */
#chat-header, #chat-input-container {
    padding: 5px 10px;
    position: fixed;
    width: 62%;
    align-self: center;
    z-index: 100;

    background-color: var(--bgt-primary);
    backdrop-filter: blur(10px);
    border: 2px solid var(--secondary-6);
    border-radius: var(--border-radius-lg);
}
#chat-header {
    top: -24px;
    padding-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    transition: all 150ms ease 100ms;
} #chat-header:hover { transform: scale(1.05) translateY(2px); border-color: var(--secondary-5); }

#chat-header #prev-btn { font-size: 30px; height: 40px;}
#chat-header #header-details { flex: 1; }
#chat-header .container-h .btn-mini { scale: 1.1; background-color: var(--bgt-primary); }
#chat-header .container-h .btn-mini:hover { background-color: var(--secondary-6); }

.chat-messages {
    flex: 1;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    gap: 5px;
    padding: 100px 10px;
}
/* Remove scrollbar-color and scrollbar-width, use these instead */
.chat-messages::-webkit-scrollbar { width: 8px; }
.chat-messages::-webkit-scrollbar-track { background: transparent; }
.chat-messages::-webkit-scrollbar-thumb { background: var(--secondary-6); border-radius: 20px; }
#down-btn {
    font-size: 50px;
    position: absolute;
    right: 40px;
    bottom: 110px;
}

#chat-input-container {
    grid-area: input;
    display: flex;
    align-items: center;
    gap: 10px;
    
    resize: none;
    overflow-y: hidden;
    max-height: 100px;

    bottom: -24px;
    padding-bottom: 30px;
    transition: all 200ms ease;
} #chat-input-container:hover { transform: scale(1.05) translateY(-2px); }

.msg {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    max-width: 70%;
    word-wrap: break-word;
    position: relative;
}
.msg-out { align-self: flex-end; background-color: var(--primary-5); }
.msg-in { align-self: flex-start; background-color: var(--gray-200); }
.msg-announcement {
    align-self: center;
    background-color: var(--bgt-primary);
    backdrop-filter: blur(5px);
}
.msg-input {
    flex: 1;
    min-height: 40px;
    max-height: 90px;

    padding: 5px 10px;
    margin: 5px 0;
    resize: none;
    
    border: 2px var(--gray-200);
    border-radius: var(--border-radius);
    background-color: var(--secondary-7);
    color: var(--text-primary);
}

.msg-input:hover { box-shadow: 0 0 5px 2px var(--secondary-6); }
.msg-input:focus { box-shadow: 0 0 5px 2px var(--secondary-4); }
#chat-input-container .btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 24px;
}

/* smaller screen */
@media screen and (max-width: 800px) {
    #chat-sidebar { display: none; }
    #chat-ui { width: 100vw; }
    #chat-header, #chat-input-container { width: 90%; }
}