.chat-sbar {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-sbar .section {
    min-height: 100px;
    max-height: 200px;
    gap: 10px;
    margin: 6px;
    padding: 8px;
    position: relative;
}
.chat-sbar .section .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    backdrop-filter: blur(4px);
    background-color: var(--bgt-primary);
    border-radius: var(--border-radius);
}
.chat-sbar .section #title { z-index: 1; }
.chat-sbar .section #body { z-index: 1; }
.chat-sbar .section #info-bubble {
    height: 18px;
    width: 70px;
    padding: 2px;
    position: absolute;
    top: 7px; right: 6px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    color: var(--success);
    background-color: var(--bgt-primary);
    border-radius: var(--border-radius-sm);
}
/* header */
#chat-sbar-header {
    width: 90%;
    padding: 10px;
    width: min(28vw, 280px);
}

/* active members  */
.chat-sbar #active-members .container-v { gap: 2px; }
.chat-sbar #active-members .member {
    height: 22px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    overflow: visible;
    background-color: var(--bgt-tertiary);
    border-radius: var(--border-radius-sm);
}

@media screen and (max-width: 800px) {
    .chat-sbar { display: none; }
}