/* Chat UI styles */
.chat-ui {
    width: min(90vw, 900px);
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-primary);
}


/* header style */
.chat-header, .chat-input-container {
    padding: 5px 10px;
    position: sticky;

    background-color: var(--bgt-primary);
    backdrop-filter: blur(10px);
    border: var(--border-light);
    border-radius: var(--border-radius-lg);
}
.chat-header {
    top: 10px;
    grid-area: header;
    display : grid;
    grid-template-columns: 50px 50px 1fr 50px;
    grid-template-areas: 
        "prev pfp name options"
        "prev pfp status options";
    gap: 2px 10px;
}
.chat-header #prev-btn {
    grid-area: prev;
    font-size: larger;
    background-color: var(--bgt-tertiary);
}
.pfp {
    grid-area: pfp;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.chat-details {
    grid-area: status;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-secondary);
}
.chat-options {
    grid-area: options;
    display: flex;
    align-items: center;
}
.chat-options .btn { background-color: transparent; }

.chat-messages {
    flex: 1;
    width: min(88vw, 800px);
    height: auth;

    grid-area: messages;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}


.chat-input-container {
    grid-area: input;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 10px;
    resize: none;
    overflow-y: hidden;
    max-height: 20vh;
    line-height: 5vh;
}

.msg {
    padding: 8px 12px;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    max-width: 70%;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.msg p {
    margin: 0;
    color: var(--text-primary);
}
.msg-out {
    background-color: var(--primary);
    color: var(--text-primary);
    align-self: flex-end;
}
.msg-in {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    align-self: flex-start;
}
.msg-input {
    flex: 1;
    min-height: 35px;
    max-height: 18vh;
    font-size: 1rem;

    border: var(--border-light);
    border-radius: var(--border-radius);
    background-color: inherit;
    color: var(--text-primary);
    transition: all 0.3s ease;
}
.msg-input:hover {
    border-color: var(--primary);
}
.msg-input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px var(--focus-ring);
}

.btn-primary {
    height: 45px;
    width: 40px;
    padding: 10px;
    background-color: var(--primary);
    color: white;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
}