#page-header {
    height: 70px;
    width: 100vw;
    position: sticky;
    top: 0px;
    align-self: center;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(4px);
    border-bottom: 2px solid var(--secondary-5);
    background: linear-gradient(to right, var(--bgt-primary), var(--secondary-7));
    box-shadow: 0 2px 20px var(--primary-4);
}
#page-header .logo { height: 40px; }

#page-header .header-right {
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding:  8px 12px;
    background-color: var(--bgt-primary);
    border: 2px solid var(--primary-4);
    border-radius: var(--border-radius);
}
#page-header .header-right .btn-mini { scale: 1.2; }
#page-header .header-right .btn-mini:hover { background-color: var(--secondary-6); }