/* Header styles */
#header {
    height: 50px;
    width: 100%;
    padding: 5px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--border-light);
    border-radius: 0;
    z-index: 1000;
    background-color: var(--bg-color);
}
.logo {
    height: 100px;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
