.menu {
    position: fixed;
    width: 250px;
    min-height: 100px;
    padding: 10px;
    z-index: 500;
    gap: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
    background-color: var(--bgt-primary);
    border: 2px solid var(--secondary-5);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 8px 1px var(--primary-5);
    transition: all 0.5s ease-in-out;
}

.menu-tr { top: 80px; right: 10px; }
.menu-tl { top: 80px; left: 10px;  }

.menu-section {
    position: relative;
    width: 94%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-section .btn {
    height: 40px;
    padding-left: 20px;
    justify-content: flex-start;
    gap: 20px;
    
    background-color: var(--bgt-primary);
    transition: all 100ms ease;
} .menu-section .btn:hover { background-color: var(--secondary-6); }